.banner{
  width: 940px;
  margin: 0 auto;
}

.brand{
  width: 200px;
  display: inline-block;
  /* font-family: Monoton, cursive; */
  font-family: 'Monoton', cursive;
  font-size: 70px;
  /* font-weight: bold; */
}

.menu{
  /* width: 760px; */
  float: right;
  /* text-align: right; */
  display: inline-block;
  position: relative;
  font-family: Rowdies, cursive;
  font-size: 20px;
}

.nav-link{
  /* margin: 0 0 auto; */
  /* display: inline-block; */
  font-family: 'Rowdies', cursive;
}

.serach-container{
  display: inline-block;
  float: right;
  position: relative;
}

.nav-bar{
  height: 60px;
  border: 1px solid;
  margin:10px 0;
}

.nav-container{
  margin: auto;
  width: 1000px;
}

.nav-item{
  padding: 20px 40px;
  font-family: 'Rowdies', cursive;
  font-size: 20px;
  box-sizing: border-box;
  /* position: relative; */
}

.image-section{
  margin: 0 auto;
  width: 960px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 960px;
  padding-bottom: 30px;
}

.image-card{
  position: relative;
  float: left;
  min-height: 1px;
  padding: 10px;
  text-decoration: none;
}

.plant-img{
<<<<<<< HEAD
  width: 300px;
  height: 360px;
}

.plant-info{
  display: grid;
  grid-gap: 0 4px;
  grid-template-areas:
    "total price"
    "reviews";
  grid-template-columns: 1fr max-content;
  margin: 12px 0 8px;
  font-family: 'Rowdies', cursive;
  color: #362706;
  font-size: 20px;
=======
  widthL 300px;
>>>>>>> 2589dab2dd74acf87408e2b769cfe06e15ee17d2
}

.plant-name{
  display: inline-block;
  text-align: left;
  text-decoration: none;
}

.price{
  display: inline-block;
  float: : right;
  text-decoration: none;
  font-weight: 200;
  font-size: 15px;
  padding-top: 5px;
}

.reviews{
  font-weight: 200;
}

.heart{
  margin-top: 3px;
  margin-left: 14px;
}
